.audio {
  padding: 40px 0;
  text-align: center;
}

audio {
  width: 100%;
}

button {
  background: #3273dc;
  border: 0;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  margin: 20px;
  padding: 0.5em 1em;
}

.play,
.pause {
  background: #00d1b2;
}

.segments {
  display: flex;
  margin-top: 40px;
}
